*{
    box-sizing: border-box;
    margin: 0;
}

.hero {
  /*Photo from Unsplash, don't be lame-look up photog for credit */
  background:  url("./assets/bg_image_2_OVRLY_1143X1024.jpg") no-repeat center center;
  background-size: cover;
  padding: 4rem 2rem;
  height: 100vh;
  margin: 0;
  /*grid styles*/
display: grid;
align-items: center;
grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
}

/* Button, place holder for instagram link*/
a {
  background-color: rgba(88, 8, 88, 0.795);
  text-decoration: none;
  color: white;
  border-radius: .25rem;
  text-align: center;
  display: inline-block;
  transition: all .3s;
}

a:hover {
  opacity: .6;
}

.hero > h1 {
  font-family: 'Racing Sans One';
  font-size: 5rem;
  padding-bottom: 1rem;
}

.hero > article > p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
}

.hero > article > a {
  padding: 1rem 3rem;
  margin-top: .75rem;
  font-family: 'Open Sans', sans-serif;
}
/*
h1 {
    font-family: 'Racing Sans One', ;
    margin: 10px auto -5px;
    font-size: 100px;
    font-weight: 500;   
}    

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;  
    
}
*/
